
{% extends 'base.html'%}
	
{% block content%}

	<style>
		/* Add styles here */
		body {
			background-color: #f8f9fa;

		}

	</style>



	<div class="jumbotron text-center">
		<h1>Welcome to PPT Maker!</h1>
		<p>Create  PowerPoint presentations quickly and easily.</p>
		<a href="/form" class="btn btn-primary btn-lg">Make Presentation</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Easy to Use</h3>
				<p>Create College presentations in minutes with our simple and intuitive interface.</p>
			</div>
			<div class="col-sm-4">
				<h3>Powerful Features</h3>
				<p>The presentations are already segregated according to the guidlines.</p>
			</div>
			<div class="col-sm-4">
				<h3>Save Time</h3>
				<p>Stop wasting time trying to format your slides. Let PPT Maker handle the hard work for you.</p>
			</div>
		</div>
	</div>

	<section class="container">
  <img  width="900" style="margin-left: 80px; margin-top: 100px" align="center" src="{{ image_url }}" alt="Example image">
</section>

{% endblock %}