<!DOCTYPE html>
<html>
<head>
	<title>PPT Maker Landing Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
		/* Add styles here */
		body {
			background-color: #f8f9fa;

		}

	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">PPT Maker</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" href="#">Features</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" href="#">Pricing</a>-->
<!--				</li>-->
			</ul>
		</div>
	</nav>

	<div class="jumbotron text-center">
		<h1>Welcome to PPT Maker!</h1>
		<p>Create  PowerPoint presentations quickly and easily.</p>
		<a href="/form" class="btn btn-primary btn-lg">Make Presentation</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Easy to Use</h3>
				<p>Create College presentations in minutes with our simple and intuitive interface.</p>
			</div>
			<div class="col-sm-4">
				<h3>Powerful Features</h3>
				<p>The presentations are already segregated according to the guidlines.</p>
			</div>
			<div class="col-sm-4">
				<h3>Save Time</h3>
				<p>Stop wasting time trying to format your slides. Let PPT Maker handle the hard work for you.</p>
			</div>
		</div>
	</div>

	<section class="container">
  <img  width="900" style="margin-left: 80px; margin-top: 100px" align="center" src="{{ image_url }}" alt="Example image">
</section>


</body>
</html>
