{% extends 'base.html'%}
   {% block content%}

	<h1>Create PPT Presentation</h1>
	<div class="form-container">
	<form action="/submit" method="POST">



<div class="form-group mb-3">
	<label for="project_members">Project Title:</label>
	<input type="text" id="project_members" name="project_members" class="form-control"required>
</div>



<div class="form-group mb-3">
	<label for="project-description">Project Description:</label>
	<textarea id="project-description" name="project_description" rows="4" cols="50" class="form-control"required></textarea>
</div>



<!-- <div class="form-group">
	<label for="project-image">Project Image:</label>
	<input type="file" id="project-image" name="project_image" class="form-control-file"><br><br>
</div> -->

<button type="submit" class="btn btn-primary btn-lg mb-3">Submit</button>
</form>
	</div>
	{% endblock %}
</body>
<script>
	function validateForm() {
			var file_name = document.forms["ppt_form"]["file_name"].value;
			var project_title = document.forms["ppt_form"]["project_title"].value;
			var project_members = document.forms["ppt_form"]["project_members"].value;
			var project_description = document.forms["ppt_form"]["project_description"].value;
			var project_abstract = document.forms["ppt_form"]["project-abstract"].value;
			var project_solution = document.forms["ppt_form"]["project-solution"].value;
			var project_techstack = document.forms["ppt_form"]["project-techstack"].value;
					if (file_name == "") {
			alert("File Name must be filled out");
			return false;
		}
		if (project_title == "") {
			alert("Project Title must be filled out");
			return false;
		}
		if (project_members == "") {
			alert("Project Members must be filled out");
			return false;
		}
		if (project_description == "") {
			alert("Project Description must be filled out");
			return false;
		}
		if (project_abstract == "") {
			alert("Project Abstract must be filled out");
			return false;
		}
		if (project_solution == "") {
			alert("Project Solution must be filled out");
			return false;
		}
		if (project_techstack == "") {
			alert("Technology Used must be filled out");
			return false;
		}
	}
</script>

</script>


